<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <vaultName>Sample Vault</vaultName>
  <authType>1</authType>
  <userName></userName>
  <password></password>
  <domain></domain>
  <spn></spn>
  <protocolSequence>ncacn_ip_tcp</protocolSequence>
  <networkAddress>localhost</networkAddress>
  <endpoint>2266</endpoint>
  <encryptedConnection>false</encryptedConnection>
  <localComputerName></localComputerName>
</configuration>